spring:
  application:
    name: tasca-avaluacio

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testBD
    username: dam
    password:

  sql:
    init:
      mode: always

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update

  h2:
    console:
      enabled: true
      path: /h2-console